server:
  port: 8082

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth-server:8083

logbook:
  format:
    style: http

logging:
  level:
    org.springframework: TRACE
    sv.com: TRACE
    org.zalando.logbook: TRACE